.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 450px; /* Match app container width */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    background-color:  rgb(249, 184, 62);
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
    border-top: 1px solid #eee;
}

.nav-link {
    flex-grow: 1;
    text-align: center;
    padding: 1rem 0;
    text-decoration: none;
    color:  rgb(249, 184, 62);
    font-weight: 500;
    transition: color 0.2s;
}

.nav-link.active {
    color: var(--primary-color);
    border-top: 3px solid var(--primary-color);
}

/* Add padding to the bottom of the content to avoid overlap with nav */
.page-content {
    padding-bottom: 80px;
}