.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow: scroll; 


}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}
.explore-menu-list-item{
    margin-top: 10px;
    color: rgb(125, 121, 121);
    font-size: max(1.4vw,16px);
    cursor: pointer;
}
.explore-menu hr{
    margin-top: 10px 0;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}
.explore-menu-list-item.active {
    border: 2px solid tomato;
    border-radius: 50%;
    padding: 20px;
}
.active{
    border-radius: 50%;
    border: 5px ;
    width: 7.5vw;
    
}